*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.blog-body h1{
    background: rgba(226, 226, 226, 0.2);
    padding: 20px 0;
    text-shadow: 5px 8px 8px;
}

.vissza a{
    text-decoration: none;
    color: black;
    padding:30px;
    padding-top: 40px;
    display: block;
}

.vissza a:hover{
    text-decoration: underline;
}

header{
    padding-bottom: 20px;
    background: url(/kepek/white.jpg) 100%;
}

.blog-felirat{
    font-size: 60px;
    text-align: center;
}

.blog-cim{
    font-size: 35px;
    margin-bottom: 25px;
    padding:30px;
    padding-bottom: 0;
    padding-top: 0;
}

.blog-cim-leiras{
    padding:30px;
    padding-bottom: 0;
    padding-top: 0;
}

.blog-temak::after{
    content: '';
    clear: both;
    display: table;
}

.blog-temak ul{
    list-style-type: none;
    padding:0;
    padding-top: 10px;
    
}

.blog-temak li{
    float: left;
    display: block;
    padding-right: 10px
}

main{
    background: rgba(226, 226, 226, 0.2)
}


.blog-elsosor{
    padding:20px;
    padding-top: 60px;
    display: flex;
    
}

.blog-posztok{
    margin: 10px;
    padding-top: 0px;
    position: relative;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.blog-posztok img{
    
    width: 100%;

}

.blog-posztok h4{
    margin: 20px 0;
    padding-left: 20px;
}

.blog-posztok div{
    padding-left: 20px;
    padding-right: 20px;
}


.blog-posztok>button{

    margin: 20px 20px;
    border: none;
    outline: none;
    background:grey;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.blog-posztok button:hover{

    background: black;
}

.blog-masodiksor{
    padding:20px;
    display: flex;
    margin-top: 20px;
}

.blog-datum{
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.blog-footer{
    padding: 20px;
    text-align: center
}

.kezdo-szalag{
    background: rgba(175, 173, 173, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kezdo-nev{
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}

.navigacio-szalag ul{
    list-style: none;
    display: flex;
    height: 100%;
}

.navigacio-szalag ul li{
    padding: 20px;
    padding-right: 30px;
    height: 100%;
}


.navigacio-szalag ul li a{
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 20px;
}

.navigacio-szalag ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    color:white;   
}

.kezdo-foresz{
    margin: 60px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
}

.kezdo-info h4{
    font-size: 40px;
    padding-bottom: 20px;
}

.kezdo-info p{
    padding-bottom: 20px;
}

.kezdo-kep{
    margin: 0px auto;
    margin-right: 60px;
}

.kezdo-kep img{
    width: 400px;
}
.kezdo-info button a{
    text-decoration: none;
    color: white;
}

.kezdo-info button a:hover{
    cursor: pointer;
}

.kezdo-info button{
    outline: none;
    border: none;
    background: black;
    padding: 10px 15px;
    border-radius: 100px;
    transition-duration: 0.3s;
}

.kezdo-info button:hover{
    background: rgb(126, 128, 131);
}

.kezdo-ikonok{
    margin-top: 30px;
}

.kezdo-ikonok a img{
    height: 16px;
    padding-right: 30px;
}

div.kezdo-oldal{
    background:rgb(241, 239, 239);
    padding-bottom: 20px;
}

.magamrol-div{
    background: rgba(240,240,240);
}

.magamrol-fejlec{
    padding: 10px 0 0 50px;
}


.magamrol-nev{
    font-size: 30px;
    padding-bottom:10px;
}

.magamrol-szakma{
    padding-bottom: 30px;
    font-size: 19px;
}

.magamrol-foresz{
    background: rgb(170, 168, 168);
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 0px 25px 5px;
}

.magamrol-foresz{
    display: flex;
}

.vissza-fooldal a{
    color: black; text-decoration: none; margin-left: 50px;font-size: 14px;
}

.vissza-fooldal a:hover{
    text-decoration: underline;
}

.magamrol-foresz img{
    width: 350px;
    box-shadow: -9px 20px 15px 5px;
}

.magamrol-leiras{
    margin-left: 50px;
    
}

.magamrol-leiras h4{
    margin-bottom: 5px;
    font-size: 28px;
}

.magamrol-leiras h5{
    margin-bottom: 20px;
    font-size: 15px;
}

.magamrol-leiras button{
    outline: none;
    border: none;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 30px;
}

.magamrol-leiras button a{
    text-decoration: none;
    color:white;
}

.magamrol-leiras button a:hover{
    cursor: pointer;
}

.magamrol-div h2{
    text-align: center;
    padding: 30px;
}

.magamrol-elerhetoseg{

    background:rgb(170, 168, 168);
    width: 400px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 30px;
    
}

.magamrol-elerhetoseg .magamrol-sor{
    display: flex;
    align-items: center;
    padding: 0 45px;
    margin: 20px 0;
}

.magamrol-elerhetoseg img{
    width: 32px;
}

.magamrol-elerhetoseg .adat{
    padding: 0 30px;
}

.terv{
    padding: 40px;
    background: rgba(230, 230, 230,0.8)
}

.terv-cim{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.terv img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.terv h1{
    text-align: center;
    background: rgba(230,230,230);
    padding: 20px;
    margin: 20px 0;
}

.terv h2{
    padding: 30px 0;
}

.terv p{
    padding: 10px;
}